<!DOCTYPE html>
<html>
  <head>
    <title>Twitte</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
    <%= image_tag '9.jpeg' %> 
    
    </header>
    <%= yield %>
    <footer>
    <p>Copyright ©2018DIVE INC ALL RIGHTS RESERVED.</p>
    </footer>
    
  </body>
</html>